#header {
    display: flex;
    justify-content: space-between;
    // background-color: rgb(234, 70, 70);
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    // min-width: 0;
    height: 60px;
    z-index: 100;
    border-bottom: 1px solid rgb(234, 70, 70);


    .logo {
        line-height: 60px;
        display: flex;
        width: 30%;
        max-width: 350px;
        height: 60px;

        h1 {
            display: flex;
            margin-left: 10px;
            width: 300px;
            height: 60px;

            a img {
                width: 50px;
                height: 50px;
                margin-top: -5px;
                border-radius: 50px;
            }

            p {
                display: inline-block;
                margin-left: 10px;
                width: 200px;
                height: 60px;
                font-size: 25px;
                color: rgb(234, 70, 70);

                &:hover {
                    // color: green;
                    cursor: pointer;
                }
            }
        }


    }

    .header_right {
        // overflow: hidden;
        display: flex;
        max-width: 200px;
        width: 20%;
        height: 60px;
        line-height: 60px;
        padding-left: 20px;
        // background-color: yellow;

        a {
            display: inline-block;
            width: 40px;
            height: 60px;
            line-height: 60px;
            color: rgb(234, 70, 70);

            &:hover {
                animation: up .3s;
            }


        }


        @keyframes up {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-3px);
            }

            100% {
                transform: translateY(0);
            }

        }
    }
}











.content {
    display: flex;
    // display: grid;
    // grid-template-columns: 1fr 2fr 1fr;
    position: relative;
    height: 100%;


    .left_nav {
        position: fixed;
        top: 60px;
        left: 0;
        width: 300px;
        max-width: 30%;
        height: calc(100vh - 60px);
        // color: rgb(234, 70, 70);
        border-radius: 20px;
        padding-top: 20px;
        padding-left: 20px;
        margin: 10px 0;
        background-color: rgb(234, 70, 70);
        font-size: 20px;
        overflow-y: auto; //独立滚动条




        h2 {
            height: 20px;
            line-height: 20px;
            margin-bottom: 10px;
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            color: white;
        }

        h4 {
            margin-bottom: 20px;
            color: white;

        }

        p {
            color: white;
            font-weight: 700;
        }

        ul {
            // padding-left: 20px;
            margin: 20px 0;
            padding-right: 10px;

            li {
                width: 100%;
                height: 50px;
                line-height: 50px;
                margin: 10px 0;
                border-radius: 50px;
                transition: all 1s;
                cursor: pointer;
                box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.143);

                &:hover {
                    background-color: #ffffff3c;
                }

                &:hover a {
                    transform: translateX(60px);
                    font-size: 30px;
                }


                a {
                    width: 86%;
                    height: 40px;
                    padding-left: 10px;
                    color: white;
                    display: inline-block;
                    transition: all 1s;



                }
            }
        }


    }




    .middle_content {
        // display: flex;
        margin: 0 300px;
        padding: 20px;
        // background-color: orange;
        // min-width: 400px;
        height: calc(100vh - 60px);
        overflow-y: auto;
        border-radius: 20px;
        // border-left: 5px solid red;
        // border-right: 5px solid rgba(255, 255, 255, 0.491);

        #searchForm {
            position: relative;
            display: flex;
            width: 50%;
            height: 5%;
            margin: 10px auto;
            border-radius: 50px;
            background-color: #fff;


            input {
                width: 100%;
                height: 100%;
                padding: 10px;
                border-radius: 50px;
                font-size: 1rem;
                border: 1px solid rgb(234, 70, 70);
            }

            button {
                position: absolute;
                right: 0;
                width: 20%;
                height: 100%;
                border-radius: 50px;
                border: none;
                background-color: rgb(234, 70, 70);
                cursor: pointer;


                svg {
                    margin-top: 3px;
                    width: 80%;
                    height: 80%;

                    path {
                        fill: white;
                    }

                }
            }

        }

        ul {
            width: 100%;

            li {
                width: 100%;
                height: 30%;
                margin: 20px 0;


                a {
                    color: rgb(234, 70, 70);
                }

                .every_bottom {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;
                    height: 30px;

                    p {
                        line-height: 30px;
                    }

                    div {


                        span {
                            line-height: 30px;
                            height: 100%;
                        }

                        svg {
                            margin: -4px 0;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

            }

        }



        h2 {
            font-weight: 700;
        }







    }






    .right_topic_area {
        position: fixed;
        right: 0;
        width: 300px;
        max-width: 30%;
        padding-left: 10px;
        height: calc(100vh - 60px);
        // background-color: yellow;
        overflow-y: auto;

        h2 {
            width: 100%;
            margin-top: 5px;
            // text-align: center;
            font-size: 30px;
            color: rgb(234, 70, 70);
            border-bottom: 2px solid rgb(234, 70, 70);
        }

        ul {

            li {
                // padding-left: 20px;
                font-size: 20px;
                margin: 20px 0;
            }



        }
    }
}














// 登录注册
#screen {
    display: none;
    position: fixed;
    left: 0;
    top: 0;

    z-index: 2000;
    width: 100%;
    height: 100%;
    background-color: rgb(234, 70, 70);
    opacity: 0.5;
}

#container {

    position: absolute;
    left: 0;
    top: 0;
    z-index: 3000;
    transform: translate(22%, 22%);
    width: 70%;
    height: 70%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 0.6rem;
    overflow: hidden;
    transition: all 0.1s;
    // opacity: 1;

    // background-attachment: fixed;
    display: flex;
    display: none;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // height: 100%;
    margin: 0 auto;

    h1 {
        margin: 0.2rem;
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 100;
        margin: 1.2rem 0;
        // letter-spacing: 0.1rem;
    }

    button {
        padding: 0.4rem 1rem;
        background: rgb(234, 70, 70);
        color: white;
        border: 1px solid #fff;
        outline: none;
        cursor: pointer;
        width: 5rem;
        border-radius: 8px;
        transition: all 100ms ease-in;
        margin: 0.6rem 0;
        font-size: 0.6rem;
        padding: 0.5rem 0;

        &:active {
            // 点击按钮时缩小放大
            transform: scale(0.95, 0.95);
        }
    }


    .form_container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.5s ease-in;






        form {
            display: flex;
            flex-direction: column;
            padding: 0 1.8rem;
            height: 100%;
            justify-content: center;
            align-items: center;

            input {
                width: 100%;
                height: 2.2rem;
                text-indent: 1rem;
                border: 1px solid #ccc;
                border-left: none;
                border-right: none;
                border-top: none;
                margin: 0.6rem 0;
            }


        }

    }


    .overlay_container {


        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: all 0.6s ease-in-out;
        z-index: 99;



        .overlay {
            background: rgb(234, 70, 70);
            width: 200%;
            height: 100%;
            // position: absolute;
            position: relative;
            left: -100%;
            right: 0;
            transition: all 0.6s ease-in-out;
            color: #fff;


            .overlay_panner {
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 100%;
                padding: 0 2.2rem;


                .ghost {
                    background: transparent;
                    background-color: #fff;
                    border: 1px solid #fff;
                    outline: none;
                    cursor: pointer;
                    width: 5rem;
                    border-radius: 8px;
                    transition: all 800ms ease-in;
                    margin: 0.6rem 0;
                    padding: 0.5rem 0;
                    color: rgb(234, 70, 70);
                    font-size: 0.6rem;

                    &:active {
                        // 点击按钮时缩小放大
                        transform: scale(0.95, 0.95);
                    }
                }
            }

            .overlay_right {
                right: 0;

            }
        }
    }


    .sign_in_container {
        left: 0;
        width: 50%;
        z-index: 2;
    }

    .sign_up_container {
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
        transition: all 0.6s ease-in-out;
    }


}

.cancel {
    display: none;
    position: fixed;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3000;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:active {
        // 点击按钮时缩小放大
        transform: scale(0.9, 0.9);
    }

}

#container.right-paner-active .overlay_container {
    transform: translateX(-100%);
}

#container.right-paner-active .sign_in_container {
    transform: translateX(100%);
    opacity: 0;
    z-index: 1;
}

#container.right-paner-active .sign_up_container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    transition: all 0.6s ease-in-out;
}

#container.right-paner-active .overlay {
    transform: translateX(50%);
}

#container.right-paner-active .overlay_left {
    transform: translateX(0);
    transition: all 0.6s ease-in-out;

}

#container.right-paner-active .overlay_right {
    transform: translateX(20%);
    transition: all 0.6s ease-in-out;

}