#header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  height: 60px;
  z-index: 100;
  border-bottom: 1px solid #ea4646;
}
#header .logo {
  line-height: 60px;
  display: flex;
  width: 30%;
  max-width: 350px;
  height: 60px;
}
#header .logo h1 {
  display: flex;
  margin-left: 10px;
  width: 300px;
  height: 60px;
}
#header .logo h1 a img {
  width: 50px;
  height: 50px;
  margin-top: -5px;
  border-radius: 50px;
}
#header .logo h1 p {
  display: inline-block;
  margin-left: 10px;
  width: 200px;
  height: 60px;
  font-size: 25px;
  color: #ea4646;
}
#header .logo h1 p:hover {
  cursor: pointer;
}
#header .header_right {
  display: flex;
  max-width: 200px;
  width: 20%;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
}
#header .header_right a {
  display: inline-block;
  width: 40px;
  height: 60px;
  line-height: 60px;
  color: #ea4646;
}
#header .header_right a:hover {
  animation: up 0.3s;
}
@keyframes up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
.content {
  display: flex;
  position: relative;
  height: 100%;
}
.content .left_nav {
  position: fixed;
  top: 60px;
  left: 0;
  width: 300px;
  max-width: 30%;
  height: calc(100vh - 60px);
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 20px;
  margin: 10px 0;
  background-color: #ea4646;
  font-size: 20px;
  overflow-y: auto;
}
.content .left_nav h2 {
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: white;
}
.content .left_nav h4 {
  margin-bottom: 20px;
  color: white;
}
.content .left_nav p {
  color: white;
  font-weight: 700;
}
.content .left_nav ul {
  margin: 20px 0;
  padding-right: 10px;
}
.content .left_nav ul li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 10px 0;
  border-radius: 50px;
  transition: all 1s;
  cursor: pointer;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.143);
}
.content .left_nav ul li:hover {
  background-color: #ffffff3c;
}
.content .left_nav ul li:hover a {
  transform: translateX(60px);
  font-size: 30px;
}
.content .left_nav ul li a {
  width: 86%;
  height: 40px;
  padding-left: 10px;
  color: white;
  display: inline-block;
  transition: all 1s;
}
.content .middle_content {
  margin: 0 300px;
  padding: 20px;
  height: calc(100vh - 60px);
  overflow-y: auto;
  border-radius: 20px;
}
.content .middle_content #searchForm {
  position: relative;
  display: flex;
  width: 50%;
  height: 5%;
  margin: 10px auto;
  border-radius: 50px;
  background-color: #fff;
}
.content .middle_content #searchForm input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 50px;
  font-size: 1rem;
  border: 1px solid #ea4646;
}
.content .middle_content #searchForm button {
  position: absolute;
  right: 0;
  width: 20%;
  height: 100%;
  border-radius: 50px;
  border: none;
  background-color: #ea4646;
  cursor: pointer;
}
.content .middle_content #searchForm button svg {
  margin-top: 3px;
  width: 80%;
  height: 80%;
}
.content .middle_content #searchForm button svg path {
  fill: white;
}
.content .middle_content ul {
  width: 100%;
}
.content .middle_content ul li {
  width: 100%;
  height: 30%;
  margin: 20px 0;
}
.content .middle_content ul li a {
  color: #ea4646;
}
.content .middle_content ul li .every_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: 30px;
}
.content .middle_content ul li .every_bottom p {
  line-height: 30px;
}
.content .middle_content ul li .every_bottom div span {
  line-height: 30px;
  height: 100%;
}
.content .middle_content ul li .every_bottom div svg {
  margin: -4px 0;
  width: 20px;
  height: 20px;
}
.content .middle_content h2 {
  font-weight: 700;
}
.content .right_topic_area {
  position: fixed;
  right: 0;
  width: 300px;
  max-width: 30%;
  padding-left: 10px;
  height: calc(100vh - 60px);
  overflow-y: auto;
}
.content .right_topic_area h2 {
  width: 100%;
  margin-top: 5px;
  font-size: 30px;
  color: #ea4646;
  border-bottom: 2px solid #ea4646;
}
.content .right_topic_area ul li {
  font-size: 20px;
  margin: 20px 0;
}
